# Configuration file for auto_process
#
# General configuration
[general]
default_runner = SimpleJobRunner
max_concurrent_jobs = 12
poll_interval = 5

# Explicitly specify modulefiles to load for each step
# Specify modulefiles as a comma-separated list
[modulefiles]
make_fastqs = None
bcl2fastq = None
cellranger_mkfastq = None
cellranger_atac_mkfastq = None
run_qc = None
illumina_qc = None
fastq_strand = None
cellranger = None
report_qc = None
publish_qc = None
process_icell8 = None
cutadapt = None
fastq_screen = None
process_10xgenomics = None

# bcl2fastq settings
[bcl2fastq]
nprocessors = 1
default_version = >=1.8.4
no_lane_splitting = False
create_empty_fastqs = True

# Sequencers and platforms
# Assign platforms to sequencer instrument names
# These values will be specific to the local site
[sequencers]
#SN7001250 = hiseq

# QC settings
[qc]
nprocessors = 1
fastq_screen_subset = 100000

# Strandedness
# Assign organism name to path to STAR index to use
# for that organism in fastq_strand
[fastq_strand_indexes]
#human = /data/genomeIndexes/hg38/STAR/
#mouse = /data/genomeIndexes/mm10/STAR/

# icell8 settings
[icell8]
aligner = None
batch_size = 5000000
mammalian_conf_file = None
contaminants_conf_file = None
nprocessors_contaminant_filter = 1
nprocessors_statistics = 1

# 10xGenomics settings
# cellranger_jobmode defaults to 'local': set to 'sge' to use SGE jobmanager
# See https://support.10xgenomics.com/single-cell-gene-expression/software/pipelines/latest/advanced/cluster-mode
[10xgenomics]
cellranger_jobmode = local
# cellranger_mempercore only used if jobmode is not 'local'
cellranger_mempercore = 5
cellranger_jobinterval = 100
# cellranger_localmem and cellranger_localcores only used if jobmode is 'local'
cellranger_localmem = 5
cellranger_localcores = 1

# 10xGenomics transcriptomes
# Assign organism name to path to cellranger
# transcriptome reference data to use for that
# organism in single library analysis
[10xgenomics_transcriptomes]
#human = /data/cellranger/refdata-cellranger-GRCh38-1.2.0
#mouse = /data/cellranger/refdata-cellranger-mm10-1.2.0

# 10xGenomics snRNA-seq pre-mRNA references
# Assign organism name to path to cellranger
# snRNA-seq reference data to use for that
# organism in single library analysis
[10xgenomics_premrna_references]
#human = /data/cellranger/refdata-cellranger-GRCh38-1.0.1-pre_mrna
#mouse = /data/cellranger/refdata-cellranger-mm10-1.0.1-pre_mrna

# 10xGenomics scATAC-seq genome references
# Assign organism name to path to cellranger
# scATAC-seq reference data to use for that
# organism in single library analysis
[10xgenomics_atac_genome_references]
#human = /data/cellranger/refdata-cellranger-atac-GRCh38-1.0.1
#mouse = /data/cellranger/refdata-cellranger-atac-mm10-1.0.1

# Platform specific settings
# Make sections [platform:NAME] and add parameters to
# override the default bcl2fastq settings (i.e. number of
# processors, version, lane splitting etc)
[platform:nextseq]
bcl2fastq = >=2.0
no_lane_splitting = True

# fastq_stats settings
[fastq_stats]
nprocessors = 1

# Define runners for specific jobs
[runners]
bcl2fastq = SimpleJobRunner
qc = SimpleJobRunner
stats = SimpleJobRunner
rsync = SimpleJobRunner
cellranger = SimpleJobRunner
icell8 = SimpleJobRunner
icell8_contaminant_filter = SimpleJobRunner
icell8_statistics = SimpleJobRunner
icell8_report = SimpleJobRunner

# Defaults for metadata
[metadata]
default_data_source = None

# Settings for archiving analyses
# dirn should be a directory in the form [[user@]host:]path
[archive]
dirn = None
log = None
group = None
chmod = None

# Settings for uploading QC reports
[qc_web_server]
# dirn should be a directory in the form [[user@]host:]path
dirn = None
# url is the top level URL that the 
url = None
# If set then use the YEAR/PLATFORM hierarchy under the
# directory pointed at by dirn
use_hierarchy = False
# If set then exclude ZIP archives from publication
exclude_zip_files = False

# Templates for reporting
# Assign fields to template names for reporting projects
[reporting_templates]
#bcf = datestamp,,user,run_id,#samples,#cells,organism,library_type,PI,analysis_dir

# Destinations data can be copied to using 'transfer_data.py'
# Define destinations with sections '[destination:NAME]' and
# set parameters to define following settings:
# - directory: destination directory to copy Fastqs to, defined
#   as an arbitrary location of the form '[[USER@]HOST:]DIR'
# - subdir: subdirectory naming scheme; if set then files are
#   copied to a subdirectory of the destination directory
#   according to this scheme:
#   * 'random_bin': used a random pre-existing empty subdir
#   * 'run_id': creates new subdir 'PLATFORM_DATESTAMP.RUN_ID-PROJECT'
# - readme_template: template file to generate README file from
#   (either full path or the name of a file in the 'templates'
#   directory of the installation
# - url: base URL for the copied data (sets value of WEBURL
#   variable in the template README file)
# - include_downloader: whether to include a copy of the
#   'download_fastqs.py' utility with the copied data
# - include_qc_report: whether to include a copy of the
#   zipped QC reports with the copied data
# - hard_links: whether to hard link files instead of copying
#   them (only for local copies on same filesystem)
#[destination:webserver]
#directory = /mnt/hosted/web
#subdir = random_bin
#readme_template = README.webserver.txt
#url = http://awesome.com/data
#include_downloader = true
#include_qc_report = true
#hard_links = false
