# Configuration file for auto_process
#
# General configuration
[general]
default_runner = SimpleJobRunner
max_concurrent_jobs = 12

# Explicitly specify modulefiles to load for each step
# Specify modulefiles as a comma-separated list
[modulefiles]
make_fastqs = None
run_qc = None

# bcl2fastq settings
[bcl2fastq]
nprocessors = 1
default_version = <=1.8.4
no_lane_splitting = False
create_empty_fastqs = True

# QC settings
[qc]
nprocessors = 1
fastq_screen_subset = 100000

# Platform specific settings
# Make sections [platform:NAME] and add parameters to
# override the default bcl2fastq settings (i.e. number of
# processors, version, lane splitting etc)
[platform:nextseq]
bcl2fastq = >=2.0
no_lane_splitting = True

# fastq_stats settings
[fastq_stats]
nprocessors = 1

# Define runners for specific jobs
[runners]
bcl2fastq = SimpleJobRunner
qc = SimpleJobRunner
stats = SimpleJobRunner
rsync = SimpleJobRunner

# Settings for archiving analyses
# dirn should be a directory in the form [[user@]host:]path
[archive]
dirn = None
log = None
group = None
chmod = None

# Settings for uploading QC reports
[qc_web_server]
# dirn should be a directory in the form [[user@]host:]path
dirn = None
# url is the top level URL that the 
url = None